<header class="bg-white text-black p-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-12">
                <div style="background-color: white; padding: 10px;">
                    <img src="https://www.dommia.com/img/portfolio/145/Foto/1604898167/wow-gava-identidad-corporativa.png" alt="Logo de la empresa" class="img-fluid">
                </div>
                <!-- Logo de la empresa -->
            </div>
            <div class="col-md-3 col-sm-4 col-12">
                <!-- Datos de la empresa -->
                <p class="mb-0">Sistema Web S.A de C.V.</p>
                <p class="mb-0">234/90, New York Street</p>
                <p class="mb-0">United States</p>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <!-- Dirección de la empresa -->
                <p class="mb-0">Web: www.sistemasweb.la</p>
                <p class="mb-0">E-mail: info@obedalvarado.pw</p>
                <p class="mb-0">Tel: +456-345-908-559</p>
                <p class="mb-0">Twitter: @alvarado_obed</p>
            </div>
            <div class="col-md-3 col-12">
                <!-- Cuenta bancaria de la empresa -->
                <p class="mb-0">Datos bancarios:</p>
                <p class="mb-0">Titular de la cuenta:</p>
                <p class="mb-0">IBAN:</p>
                <p class="mb-0">BIC:</p>
            </div>
        </div>
        <hr>
    </div>
</header>
