<div class="container">
    <div class="row">
        <div class="col-md-3 col-12">
            <h1 style="color: #2e8a82;">FACTURA</h1>
        </div>
        <div class="col-md-9 col-12 ml-auto">
            <div class="text-md-end">
                <!-- Cuenta bancaria de la empresa -->
                <p class="mb-0">Fecha: 19-03-22</p>
                <p class="mb-0">Factura#: 100</p>
                <p class="mb-0">Vence: 02-04-22</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
            <div class="col-md-3 col-12">
                <p class="mb-0">Facturar a</p>
                <p class="mb-0">[Nombre cliente]</p>
                <p class="mb-0">[Nombre empresa]</p>
                <p class="mb-0">[Direccion empresa]</p>
                <p class="mb-0">[Tel empresa]</p>
            </div>
            <div class="col-md-5 col-12 mx-auto">

                    <p class="mb-0">Facturar a</p>
                    <p class="mb-0">[Nombre cliente]</p>
                    <p class="mb-0">[Nombre empresa]</p>
                    <p class="mb-0">[Direccion empresa]</p>
                    <p class="mb-0">[Tel empresa]</p>

            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center"> 
            <table class="custom-table mx-auto mt-4"> 
                <tr>
                    <th>Vendedor</th>
                    <th>Nombre</th>
                    <th>Envío</th>
                    <th>Términos y Condiciones</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>#PO-2020</td>
                    <td>DHL</td>
                    <td>Pago al contado</td>
                </tr>
            </table>
        </div>
    </div>
</div>
